openapi: 3.0.3
info:
  title: DeepL API Documentation
  description: |-
    The DeepL API provides programmatic access to DeepL’s language AI technology.
    
    Note: this OpenAPI spec is embedded into our API documentation and has shortened descriptions.
  termsOfService: https://www.deepl.com/pro-license
  contact:
    name: DeepL - Contact us
    url: https://www.deepl.com/contact-us
  version: 3.5.0
externalDocs:
  description: DeepL Pro - Plans and pricing
  url: https://www.deepl.com/pro#developer
servers:
- url: https://api.deepl.com
  description: DeepL API Pro
- url: https://api-free.deepl.com
  description: DeepL API Free
tags:
- name: TranslateText
  description: |-
    The text-translation API currently consists of a single endpoint, `translate`, which is described below.
- name: TranslateDocuments
  description: |-
    The document translation API allows you to translate whole documents and supports the following file types and extensions:
      * `docx` - Microsoft Word Document
      * `pptx` - Microsoft PowerPoint Document
      * `xlsx` - Microsoft Excel Document
      * `pdf` - Portable Document Format
      * `htm / html` - HTML Document
      * `txt` - Plain Text Document
      * `xlf / xliff` - XLIFF Document, version 2.1
      * `srt` - SRT Document
- name: RephraseText
  description: |-
    The `rephrase` endpoint  is used to make corrections and adjustments to texts based on style or tone.
- name: ManageMultilingualGlossaries
  description: |-
    The *glossary* functions allow you to create, inspect, edit and delete glossaries.
    Glossaries created with the glossary function can be used in translate requests by specifying the
    `glossary_id` parameter. A glossary contains (several) dictionaries.
    A dictionary is a mapping of source phrases to target phrases for a single language pair.
    If you encounter issues, please let us know at support@DeepL.com.

    Currently you can create glossaries with any of the languages DeepL supports.

    The maximum size limit for a glossary is 10 MiB = 10485760 bytes and each source/target text,
    as well as the name of the glossary, is limited to 1024 UTF-8 bytes.
    A total of 1000 glossaries are allowed per account.

    When creating a dictionary with target language `EN`, `PT`, or `ZH`, it's not necessary to specify a variant
    (e.g. `EN-US`, `EN-GB`, `PT-PT`, `PT-BR`, or `ZH-HANS`).
    Dictionaries with target language `EN` can be used in translations with either English variant.
    Similarly `PT`, and `ZH` dictionaries can be used in translations with their corresponding variants.
    (When you provide the ID of a glossary to a translation, the appropriate dictionary is automatically applied. Currently glossaries can not yet be used with source language detection.)

    Glossaries created via the DeepL API are now unified with glossaries created via the DeepL website and DeepL apps.
    Please only use the v3 glossary API in conjunction with multilingual or edited glossaries from the website.
- name: ManageGlossaries
  description: |-
    Please note that this is the spec for the (old) v2 glossary endpoint.
    We recommend users switch to the newer v3 glossary endpoints, which support editability and multilinguality.

    The *glossary* functions allow you to create, inspect, and delete glossaries.
    Glossaries created with the glossary function can be used in translate requests by specifying the
    `glossary_id` parameter.
    If you encounter issues, please let us know at support@DeepL.com.

    Currently you can create glossaries with any of the languages DeepL supports.
- name: MetaInformation
  description: Information about API usage and value ranges
- name: VoiceAPI
  description: |-
    The Voice API provides real-time voice transcription and translation services.
    Use a two-step flow: first request a streaming URL via REST, then establish a WebSocket connection for streaming audio and receiving transcriptions.
x-hideTryItPanel: true
x-codeSamples: false
paths:
  /v2/admin/analytics:
    get:
      tags:
        - AdminApi
      summary: Get usage statistics as an admin
      operationId: adminGetAnalytics
      description: |-
        Retrieve usage statistics for the organization within a specified date range.
        Optionally group the results by API key or by API key and day.
      parameters:
      - name: start_date
        in: query
        required: true
        description: Start date for the usage report (ISO 8601 date format).
        schema:
          type: string
          format: date
        example: "2025-09-29"
      - name: end_date
        in: query
        required: true
        description: End date for the usage report (ISO 8601 date format).
        schema:
          type: string
          format: date
        example: "2025-10-01"
      - name: group_by
        in: query
        required: false
        description: |-
          Optional parameter to group usage statistics. Possible values:
           * `key` - Group by API key
           * `key_and_day` - Group by API key and usage date
        schema:
          type: string
          enum:
          - key
          - key_and_day
        example: "key_and_day"
      responses:
        200:
          description: The usage statistics for the specified date range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUsageReport'
              examples:
                withGrouping:
                  summary: Usage report grouped by key and day
                  value:
                    usage_report:
                      total_usage:
                        total_characters: 9619
                        text_translation_characters: 4892
                        document_translation_characters: 0
                        text_improvement_characters: 4727
                      group_by: "key_and_day"
                      start_date: "2025-09-29T00:00:00"
                      end_date: "2025-10-01T00:00:00"
                      key_and_day_usages:
                      - api_key: "dc88****3a2c"
                        api_key_label: "Staging API Key"
                        usage_date: "2025-09-29T00:00:00Z"
                        usage:
                          total_characters: 315
                          text_translation_characters: 159
                          document_translation_characters: 0
                          text_improvement_characters: 156
                withoutGrouping:
                  summary: Usage report without grouping
                  value:
                    usage_report:
                      total_usage:
                        total_characters: 9619
                        text_translation_characters: 4892
                        document_translation_characters: 0
                        text_improvement_characters: 4727
                      start_date: "2025-09-29T00:00:00"
                      end_date: "2025-10-01T00:00:00"
        400:
          description: Bad request. Please check error message and your parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue.
              examples:
                dateRangeExceeded:
                  summary: Date range exceeds maximum allowed
                  value:
                    message: "Bad request. Reason: Date range cannot exceed 366 days"
                invalidGroupBy:
                  summary: Invalid group_by parameter value
                  value:
                    message: "Value for 'group_by' not supported. Allowed: '', 'key', 'key_and_day'."
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - auth_header: [ ]
  /v2/admin/developer-keys:
    post:
      tags:
        - AdminApi
      summary: Create a developer key as an admin
      operationId: adminCreateDeveloperKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  $ref: '#/components/schemas/ApiKeyLabel'
      responses:
        200:
          description: The create function returns a JSON representation of the created API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - auth_header: [ ]
    get:
      tags:
        - AdminApi
      summary: Get all developer keys as an admin
      operationId: adminGetDeveloperKeys
      responses:
        200:
          description: The get function returns a JSON representation of all developer API keys in the organization.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - auth_header: [ ]
  /v2/admin/developer-keys/deactivate:
    put:
      tags:
        - AdminApi
      summary: Deactivate a developer key as an admin
      operationId: adminDeactivateDeveloperKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key_id
              properties:
                key_id:
                  $ref: '#/components/schemas/ApiKeyId'          
      responses:
        200:
          description: The deactivate function returns a JSON representation of the deactivated API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - auth_header: [ ]
  /v2/admin/developer-keys/label:
    put:
      tags:
        - AdminApi
      summary: Rename a developer key as an admin
      operationId: adminRenameDeveloperKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key_id
              - label
              properties:
                key_id:
                  $ref: '#/components/schemas/ApiKeyId'
                label:
                  type: string
                  description: API key label.
                  example: developer key prod
      responses:
        200:
          description: The set label function returns a JSON representation of the renamed API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - auth_header: [ ]
  /v2/admin/developer-keys/limits:
    put:
      tags:
        - AdminApi
      summary: Set developer key usage limits as an admin
      operationId: adminSetDeveloperKeyUsageLimits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - key_id
              properties:
                key_id:
                  $ref: '#/components/schemas/ApiKeyId'
                characters:
                  $ref: '#/components/schemas/ApiKeyUsageCharacters'
      responses:
        200:
          description: The set usage limits function returns a JSON representation of the modified API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
        - auth_header: [ ]
  /v2/translate:
    post:
      tags:
        - TranslateText
      summary: Request Translation
      operationId: translateText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - target_lang
              properties:
                text:
                  description: |-
                    Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be specified
                    many times in a single request, within the request size limit (128KiB). Translations are returned
                    in the same order as they are requested.
                  type: array
                  items:
                    type: string
                    example: Hello, World!
                source_lang:
                  $ref: '#/components/schemas/SourceLanguage'
                target_lang:
                  $ref: '#/components/schemas/TargetLanguageText'
                context:
                  $ref: '#/components/schemas/Context'
                show_billed_characters:
                  $ref: '#/components/schemas/ShowBilledCharacters'
                split_sentences:
                  $ref: '#/components/schemas/SplitSentencesOption'
                preserve_formatting:
                  $ref: '#/components/schemas/PreserveFormattingOption'
                formality:
                  $ref: '#/components/schemas/Formality'
                model_type:
                  $ref: '#/components/schemas/ModelType'
                glossary_id:
                  description: |-
                    Specify the glossary to use for the translation. **Important:** This requires the `source_lang`
                    parameter to be set. The language pair of the glossary has to match the language pair of the
                    request.
                  type: string
                  example: def3a26b-3e84-45b3-84ae-0c0aaf3525f7
                tag_handling:
                  $ref: '#/components/schemas/TagHandlingOption'
                outline_detection:
                  $ref: '#/components/schemas/OutlineDetectionOption'
                non_splitting_tags:
                  description: Comma-separated list of XML tags which never split sentences.
                  type: array
                  items:
                    type: string
                    example: non_splitting_tag
                splitting_tags:
                  description: Comma-separated list of XML tags which always cause splits.
                  type: array
                  items:
                    type: string
                    example: splitting_tag
                ignore_tags:
                  description: Comma-separated list of XML tags that indicate text not to be translated.
                  type: array
                  items:
                    type: string
                    example: ignore_tag
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - text
                - target_lang
              properties:
                text:
                  description: Text to be translated. Only UTF-8-encoded plain text is supported. The parameter may be
                    specified many times in a single request, within the request size limit (128KiB). Translations are
                    returned in the same order as they are requested.
                  type: array
                  items:
                    type: string
                    example: Hello, World!
                source_lang:
                  $ref: '#/components/schemas/SourceLanguage'
                target_lang:
                  $ref: '#/components/schemas/TargetLanguageText'
                context:
                  $ref: '#/components/schemas/Context'
                show_billed_characters:
                  $ref: '#/components/schemas/ShowBilledCharacters'
                split_sentences:
                  $ref: '#/components/schemas/SplitSentencesOption'
                preserve_formatting:
                  $ref: '#/components/schemas/PreserveFormattingOptionStr'
                formality:
                  $ref: '#/components/schemas/Formality'
                model_type:
                  $ref: '#/components/schemas/ModelType'
                glossary_id:
                  description: |-
                    Specify the glossary to use for the translation. **Important:** This requires the `source_lang`
                    parameter to be set. The language pair of the glossary has to match the language pair of the
                    request.
                  type: string
                  example: def3a26b-3e84-45b3-84ae-0c0aaf3525f7
                tag_handling:
                  $ref: '#/components/schemas/TagHandlingOption'
                outline_detection:
                  $ref: '#/components/schemas/OutlineDetectionOptionStr'
                non_splitting_tags:
                  description: Comma-separated list of XML tags which never split sentences.
                  type: array
                  items:
                    type: string
                    example: non_splitting_tag
                splitting_tags:
                  description: Comma-separated list of XML tags which always cause splits.
                  type: array
                  items:
                    type: string
                    example: splitting_tag
                ignore_tags:
                  description: Comma-separated list of XML tags that indicate text not to be translated.
                  type: array
                  items:
                    type: string
                    example: ignore_tag
            encoding:
              text:
                style: form
                explode: true
      responses:
        200:
          description: The translate function returns a JSON representation of the
            translations in the order the text parameters have been specified.
          content:
            application/json:
              schema:
                type: object
                properties:
                  translations:
                    type: array
                    minItems: 1
                    items:
                      type: object
                      properties:
                        detected_source_language:
                          description: The language detected in the source text. It
                            reflects the value of the `source_lang` parameter, when
                            specified.
                          type: string
                          example: EN
                        text:
                          description: The translated text.
                          type: string
                          example: Hallo, Welt!
                        billed_characters:
                          description: Number of characters counted by DeepL for billing purposes.
                            Only present if the show_billed_characters parameter is set to true.
                          type: integer
                          example: 42
                        model_type_used:
                          description: Indicates the translation model used. Only present if model_type parameter
                            is included in the request.
                          type: string
                          example: quality_optimized

        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        414:
          $ref: '#/components/responses/URITooLong'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/document:
    post:
      tags:
        - TranslateDocuments
      summary: Upload and Translate a Document
      operationId: translateDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            examples:
              Basic:
                summary: Basic Document Translation
                value:
                  target_lang: DE
                  file: '@document.docx'
              Glossary:
                summary: Using a Glossary
                value:
                  source_lang: EN
                  target_lang: DE
                  file: '@document.docx'
                  glossary_id: '[yourGlossaryId]'
            schema:
              type: object
              required:
                - target_lang
                - file
              properties:
                source_lang:
                  $ref: '#/components/schemas/SourceLanguage'
                target_lang:
                  $ref: '#/components/schemas/TargetLanguage'
                file:
                  type: string
                  format: binary
                  description: |-
                    The document file to be translated. The file name should be included in this part's content disposition. As an alternative, the filename parameter can be used. The following file types and extensions are supported:
                      * `docx` - Microsoft Word Document
                      * `pptx` - Microsoft PowerPoint Document
                      * `xlsx` - Microsoft Excel Document
                      * `pdf` - Portable Document Format
                      * `htm / html` - HTML Document
                      * `txt` - Plain Text Document
                      * `xlf / xliff` - XLIFF Document, version 2.1
                      * `srt` - SRT Document
                filename:
                  type: string
                  description: The name of the uploaded file. Can be used as an alternative
                    to including the file name in the file part's content disposition.
                output_format:
                  type: string
                  description: |
                    File extension of desired format of translated file, for example: `docx`. If unspecified, by default the translated file will be in the same format as the input file.
                formality:
                  $ref: '#/components/schemas/Formality'
                glossary_id:
                  $ref: '#/components/schemas/GlossaryId'
      responses:
        200:
          description: The document function returns a JSON object containing the
            ID and encryption key assigned to the uploaded document. Once received
            by the server, uploaded documents are immediately encrypted using a uniquely
            generated encryption key. This key is not persistently stored on the server.
            Therefore, it must be stored by the client and sent back to the server
            with every subsequent request that refers to this particular document.
          content:
            application/json:
              schema:
                type: object
                properties:
                  document_id:
                    description: A unique ID assigned to the uploaded document and
                      the translation process. Must be used when referring to this
                      particular document in subsequent API requests.
                    type: string
                    example: 04DE5AD98A02647D83285A36021911C6
                  document_key:
                    description: A unique key that is used to encrypt the uploaded
                      document as well as the resulting translation on the server
                      side. Must be provided with every subsequent API request regarding
                      this particular document.
                    type: string
                    example: 0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A
              example:
                document_id: 04DE5AD98A02647D83285A36021911C6
                document_key: 0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/document/{document_id}:
    post:
      tags:
        - TranslateDocuments
      summary: Check Document Status
      operationId: getDocumentStatus
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DocumentKey'
            examples:
              basic:
                summary: Basic
                value:
                  document_key: 0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentKey'
      responses:
        200:
          description: The document status request returns a JSON object containing
            the document ID that was used in the request as well as string indicating
            the current status of the translation process. While the translation is
            running, the estimated number of seconds remaining until the process is
            done is also included in the response.
          content:
            application/json:
              schema:
                type: object
                required:
                  - document_id
                  - status
                properties:
                  document_id:
                    description: A unique ID assigned to the uploaded document and
                      the requested translation process. The same ID that was used
                      when requesting the translation status.
                    type: string
                    example: 04DE5AD98A02647D83285A36021911C6
                  status:
                    description: |-
                      A short description of the state the document translation process is currently in. Possible values are:
                       * `queued` - the translation job is waiting in line to be processed
                       * `translating` - the translation is currently ongoing
                       * `done` - the translation is done and the translated document is ready for download
                       * `error` - an irrecoverable error occurred while translating the document
                    type: string
                    example: done
                    enum:
                      - queued
                      - translating
                      - done
                      - error
                  seconds_remaining:
                    description: |-
                      Estimated number of seconds until the translation is done.
                      This parameter is only included while `status` is `"translating"`.
                    type: integer
                  billed_characters:
                    description: The number of characters billed to your account.
                      The characters will only be billed after a successful download
                      request.
                    type: integer
                    example: 1337
                  error_message:
                    description: |-
                      A short description of the error, if available.
                      Note that the content is subject to change.
                      This parameter may be included if an error occurred during translation.
                    type: string
                    example: Only available if document status is error
              examples:
                translating:
                  summary: Translating
                  value:
                    document_id: 04DE5AD98A02647D83285A36021911C6
                    status: translating
                    seconds_remaining: 20
                done:
                  summary: Done
                  value:
                    document_id: 04DE5AD98A02647D83285A36021911C6
                    status: done
                    billed_characters: 1337
                queued:
                  summary: Queued
                  value:
                    document_id: 04DE5AD98A02647D83285A36021911C6
                    status: queued
                error:
                  summary: Error
                  value:
                    document_id: 04DE5AD98A02647D83285A36021911C6
                    status: error
                    message: Source and target language are equal.
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/document/{document_id}/result:
    post:
      tags:
        - TranslateDocuments
      summary: Download Translated Document
      operationId: downloadDocument
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DocumentKey'
            examples:
              basic:
                summary: Basic
                value:
                  document_key: 0CB0054F1C132C1625B392EADDA41CB754A742822F6877173029A6C487E7F60A
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentKey'
      responses:
        200:
          description: The document is provided as a download. There is no other data
            included in the response besides the document data. The content type used
            in the response corresponds to the document type.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                OK:
                  summary: OK
                  description: binary document data
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound404DocTransDownload'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable503DocTransDownload'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/glossary-language-pairs:
    get:
      tags:
        - ManageGlossaries
      summary: List Language Pairs Supported by Glossaries
      description: Retrieve the list of language pairs supported by the glossary feature.
      operationId: listGlossaryLanguages
      responses:
        200:
          description: A JSON object containing the language pairs in its `supported_languages`
            property.
          content:
            application/json:
              schema:
                type: object
                properties:
                  supported_languages:
                    type: array
                    description: The list of supported languages
                    items:
                      type: object
                      required:
                        - source_lang
                        - target_lang
                      properties:
                        source_lang:
                          description: The language in which the source texts in the
                            glossary are specified.
                          type: string
                          example: en
                        target_lang:
                          description: The language in which the target texts in the
                            glossary are specified.
                          type: string
                          example: de
              example:
                supported_languages:
                  - source_lang: de
                    target_lang: en
                  - source_lang: en
                    target_lang: de
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v3/glossaries:
    post:
      tags:
        - ManageMultilingualGlossaries
      summary: Create a Glossary
      operationId: createMultilingualGlossary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMultilingualGlossaryParameters'
            examples:
              Basic:
                value:
                  name: My Glossary
                  dictionaries:
                    - source_lang: en
                      target_lang: de
                      entries: "Hello\tGuten Tag"
                      entries_format: tsv
                    - source_lang: de
                      target_lang: en
                      entries: "Guten Tag\tHello"
                      entries_format: tsv
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMultilingualGlossaryParameters'
      responses:
        201:
          description: The function for creating a glossary returns a JSON object
            containing the ID of the newly created glossary and a boolean flag that
            indicates if the created glossary can already be used in translate requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultilingualGlossary'
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
    get:
      tags:
        - ManageMultilingualGlossaries
      summary: List all Glossaries
      operationId: listMultilingualGlossaries
      description: List all glossaries and their meta-information, but not the glossary
        entries.
      responses:
        200:
          description: JSON object containing a the glossaries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  glossaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/MultilingualGlossary'
              example:
                glossaries:
                  - glossary_id: def3a26b-3e84-45b3-84ae-0c0aaf3525f7
                    name: My Glossary
                    dictionaries:
                      - source_lang: EN
                        target_lang: DE
                        entry_count: 1
                      - source_lang: DE
                        target_lang: EN
                        entry_count: 2
                    creation_time: '2021-08-03T14:16:18.329Z'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v3/glossaries/{glossary_id}:
    get:
      tags:
        - ManageMultilingualGlossaries
      summary: Retrieve Glossary Details
      description: Retrieve meta information for a single glossary, omitting the glossary
        entries.
      operationId: getMultilingualGlossary
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
      responses:
        200:
          description: JSON object containing the glossary meta-information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultilingualGlossary'
              example:
                glossary_id: def3a26b-3e84-45b3-84ae-0c0aaf3525f7
                name: My Glossary
                dictionaries:
                  - source_lang: EN
                    target_lang: DE
                    entry_count: 1
                  - source_lang: DE
                    target_lang: EN
                    entry_count: 2
                creation_time: '2021-08-03T14:16:18.429Z'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
    patch:
      tags:
        - ManageMultilingualGlossaries
      summary: Edit glossary details
      description: Edit glossary details, such as name or a dictionary for a source and target language.
      operationId: patchMultilingualGlossary
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMultilingualGlossaryParameters'
            examples:
              Basic:
                value:
                  name: My Glossary
                  dictionaries:
                    - source_lang: en
                      target_lang: de
                      entries: "Hello\tGuten Tag"
                      entries_format: tsv
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchMultilingualGlossaryParameters'
      responses:
        200:
          description: JSON object containing the glossary meta-information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultilingualGlossary'
              example:
                glossary_id: def3a26b-3e84-45b3-84ae-0c0aaf3525f7
                name: My Glossary
                dictionaries:
                  - source_lang: EN
                    target_lang: DE
                    creation_time: '2021-08-03T14:16:18.329Z'
                    entry_count: 1
                  - source_lang: DE
                    target_lang: EN
                    creation_time: '2021-08-03T14:16:18.429Z'
                    entry_count: 2
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
    delete:
      tags:
        - ManageMultilingualGlossaries
      summary: Delete a Glossary
      description: Deletes the specified glossary.
      operationId: deleteMultilingualGlossary
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
      responses:
        204:
          description: Returns no content upon success.
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v3/glossaries/{glossary_id}/entries:
    get:
      tags:
        - ManageMultilingualGlossaries
      summary: Retrieve Glossary Entries
      operationId: getMultilingualGlossaryEntries
      description: List the entries of a single glossary in tsv format.
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
        - name: source_lang
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/GlossarySourceLanguage'
        - name: target_lang
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/GlossaryTargetLanguage'
      responses:
        200:
          description: The entries in tsv, wrapped in a JSON object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlossaryDictionary'
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v3/glossaries/{glossary_id}/dictionaries:
    delete:
      tags:
        - ManageMultilingualGlossaries
      summary: Deletes the dictionary associated with the given language pair with the given glossary ID.
      operationId: deleteDictionary
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
        - name: source_lang
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/GlossarySourceLanguage'
        - name: target_lang
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/GlossaryTargetLanguage'
      responses:
        204:
          description: Returns no content upon success.
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
    put:
      tags:
        - ManageMultilingualGlossaries
      summary: "Replaces or creates a dictionary in the glossary with the specified entries."
      operationId: replaceDictionary
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
      requestBody:
        description: "The dictionary to insert into (or overwrite in) the multilingual glossary."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultilingualGlossaryEntries'
      responses:
        200:
          description: JSON object containing the dictionary meta-information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultilingualGlossaryEntriesInformation'
              example:
                source_lang: EN
                target_lang: DE
                entry_count: 1
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceededGlossaries'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/glossaries:
    post:
      tags:
        - ManageGlossaries
      summary: Create a Glossary
      operationId: createGlossary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGlossaryParameters'
            examples:
              Basic:
                value:
                  name: My Glossary
                  source_lang: en
                  target_lang: de
                  entries: "Hello\tGuten Tag"
                  entries_format: tsv
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateGlossaryParameters'
      responses:
        201:
          description: The function for creating a glossary returns a JSON object
            containing the ID of the newly created glossary and a boolean flag that
            indicates if the created glossary can already be used in translate requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonolingualGlossary'
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
    get:
      tags:
        - ManageGlossaries
      summary: List all Glossaries
      operationId: listGlossaries
      description: List all glossaries and their meta-information, but not the glossary
        entries.
      responses:
        200:
          description: JSON object containing a the glossaries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  glossaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonolingualGlossary'
              example:
                glossaries:
                  - glossary_id: def3a26b-3e84-45b3-84ae-0c0aaf3525f7
                    name: My Glossary
                    ready: true
                    source_lang: EN
                    target_lang: DE
                    creation_time: '2021-08-03T14:16:18.329Z'
                    entry_count: 1
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/glossaries/{glossary_id}:
    get:
      tags:
        - ManageGlossaries
      summary: Retrieve Glossary Details
      description: Retrieve meta information for a single glossary, omitting the glossary
        entries.
      operationId: getGlossary
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
      responses:
        200:
          description: JSON object containing the glossary meta-information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonolingualGlossary'
              example:
                glossary_id: def3a26b-3e84-45b3-84ae-0c0aaf3525f7
                name: My Glossary
                ready: true
                source_lang: EN
                target_lang: DE
                creation_time: '2021-08-03T14:16:18.329Z'
                entry_count: 1
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
    delete:
      tags:
        - ManageGlossaries
      summary: Delete a Glossary
      description: Deletes the specified glossary.
      operationId: deleteGlossary
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
      responses:
        204:
          description: Returns no content upon success.
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/glossaries/{glossary_id}/entries:
    get:
      tags:
        - ManageGlossaries
      summary: Retrieve Glossary Entries
      operationId: getGlossaryEntries
      description: List the entries of a single glossary in the format specified by
        the `Accept` header.
      parameters:
        - $ref: '#/components/parameters/GlossaryID'
        - name: Accept
          in: header
          schema:
            type: string
            enum:
              - text/tab-separated-values
            default: text/tab-separated-values
          description: The requested format of the returned glossary entries. Currently,
            supports only `text/tab-separated-values`.
          examples:
            tsv:
              summary: Tab-separated Values
              value:
                in: header
                Accept: text/tab-separated-values
      responses:
        200:
          description: The entries in the requested format.
          content:
            text/tab-separated-values:
              example: "Hello!\tGuten Tag!"
        400:
          $ref: '#/components/responses/BadRequestGlossaries'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/ForbiddenGlossaries'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        415:
          $ref: '#/components/responses/UnsupportedMediaTypeGlossaries'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/write/rephrase:
    post:
      tags:
        - RephraseText
      summary: Request text improvement
      operationId: rephraseText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  description: Text to be improved. Only UTF-8-encoded plain text is supported. Improvements are
                    returned in the same order as they are requested.
                  type: array
                  items:
                    type: string
                    example: this is a example sentence to imprve
                target_lang:
                  $ref: '#/components/schemas/TargetLanguageWrite'
                writing_style:
                  $ref: '#/components/schemas/WritingStyle'
                tone:
                  $ref: '#/components/schemas/WritingTone'
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  description: Text to be improved. Only UTF-8-encoded plain text is supported. Improvements are
                    returned in the same order as they are requested.
                  type: array
                  items:
                    type: string
                    example: this is a example sentence to imprve
                target_lang:
                  $ref: '#/components/schemas/TargetLanguageWrite'
                writing_style:
                  $ref: '#/components/schemas/WritingStyle'
                tone:
                  $ref: '#/components/schemas/WritingTone'
      responses:
        200:
          description: Successful text improvement.
          content:
            application/json:
              schema:
                type: object
                properties:
                  improvements:
                    type: array
                    minItems: 1
                    items:
                      type: object
                      properties:
                        detected_source_language:
                          description: The language detected in the source text.
                          type: string
                          example: en
                        text:
                          description: The improved text.
                          type: string
                          example: This is a sample sentence to improve.
      security:
        - auth_header: [ ]
  /v2/usage:
    get:
      tags:
        - MetaInformation
      summary: Check Usage and Limits
      operationId: getUsage
      responses:
        200:
          description: The account's usage and limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
              examples:
                free:
                  summary: Response for API users not on the Pro plan
                  value:
                    character_count: 180118
                    character_limit: 1250000
                pro:
                  summary: Response for API Pro users
                  value:
                    character_count: 5947223
                    character_limit: 1000000000000
                    products:
                      - product_type: write
                        api_key_character_count: 0
                        character_count: 5643
                      - product_type: translate
                        api_key_character_count: 636
                        character_count: 5941580
                    api_key_character_count: 636
                    api_key_character_limit: 1000000000000
                    start_time: '2025-05-13T09:18:42Z'
                    end_time: '2025-06-13T09:18:42Z'
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v2/languages:
    get:
      tags:
        - MetaInformation
      summary: Retrieve Supported Languages
      operationId: getLanguages
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - source
              - target
            default: source
          description: Supported values are "source" or "target". If type parameter is not included, defaults to "source".
          examples:
            target:
              summary: Target Languages
              value:
                in: query
                type: target
      responses:
        200:
          description: JSON array where each item represents a supported language.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - language
                    - name
                  properties:
                    language:
                      description: The language code of the given language.
                      type: string
                      example: DE
                    name:
                      description: Name of the language in English.
                      type: string
                      example: German
                    supports_formality:
                      description: Denotes formality support in case of a target language
                        listing.
                      type: boolean
                      example: true
              example:
                - language: AR
                  name: Arabic
                  supports_formality: false
                - language: BG
                  name: Bulgarian
                  supports_formality: false
                - language: CS
                  name: Czech
                  supports_formality: false
                - language: DA
                  name: Danish
                  supports_formality: false
                - language: DE
                  name: German
                  supports_formality: true
                - language: EL
                  name: Greek
                  supports_formality: false
                - language: EN-GB
                  name: English (British)
                  supports_formality: false
                - language: EN-US
                  name: English (American)
                  supports_formality: false
                - language: ES
                  name: Spanish
                  supports_formality: true
                - language: ES-419
                  name: Spanish
                  supports_formality: true
                - language: ET
                  name: Estonian
                  supports_formality: false
                - language: FI
                  name: Finnish
                  supports_formality: false
                - language: FR
                  name: French
                  supports_formality: true
                - language: HU
                  name: Hungarian
                  supports_formality: false
                - language: ID
                  name: Indonesian
                  supports_formality: false
                - language: IT
                  name: Italian
                  supports_formality: true
                - language: JA
                  name: Japanese
                  supports_formality: true
                - language: KO
                  name: Korean
                  supports_formality: false
                - language: LT
                  name: Lithuanian
                  supports_formality: false
                - language: LV
                  name: Latvian
                  supports_formality: false
                - language: NB
                  name: Norwegian (Bokmål)
                  supports_formality: false
                - language: NL
                  name: Dutch
                  supports_formality: true
                - language: PL
                  name: Polish
                  supports_formality: true
                - language: PT-BR
                  name: Portuguese (Brazilian)
                  supports_formality: true
                - language: PT-PT
                  name: Portuguese (European)
                  supports_formality: true
                - language: RO
                  name: Romanian
                  supports_formality: false
                - language: RU
                  name: Russian
                  supports_formality: true
                - language: SK
                  name: Slovak
                  supports_formality: false
                - language: SL
                  name: Slovenian
                  supports_formality: false
                - language: SV
                  name: Swedish
                  supports_formality: false
                - language: TR
                  name: Turkish
                  supports_formality: false
                - language: UK
                  name: Ukrainian
                  supports_formality: false
                - language: ZH
                  name: Chinese (simplified)
                  supports_formality: false
                - language: ZH-HANS
                  name: Chinese (simplified)
                  supports_formality: false
                - language: ZH-HANT
                  name: Chinese (traditional)
                  supports_formality: false
        400:
          $ref: '#/components/responses/BadRequest'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        413:
          $ref: '#/components/responses/PayloadTooLarge'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
        529:
          $ref: '#/components/responses/TooManyRequests'
      security:
        - auth_header: [ ]
  /v3/style_rules:
    get:
      summary: Retrieve style rule lists
      operationId: getStyleRuleLists
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
          description: The index of the first page to return. Use with `page_size` to get the next page of rule lists
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 25
          description: The maximum number of style rule lists to return.
        - name: detailed
          in: query
          schema:
            type: boolean
            default: false
          description: Determines if the rule list's `configured_rules` should be included in the response body.
      responses:
        200:
          description: JSON object containing the style rule lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  style_rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/StyleRuleList'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
      security:
      - auth_header: []
  /v1/voice/realtime:
    post:
      tags:
        - VoiceAPI
      summary: Get Streaming URL
      operationId: getVoiceStreamingUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - media_content_type
              properties:
                media_content_type:
                  $ref: '#/components/schemas/VoiceMediaContentType'
                source_language:
                  $ref: '#/components/schemas/VoiceSourceLanguage'
                source_language_mode:
                  $ref: '#/components/schemas/VoiceSourceLanguageMode'
                target_languages:
                  $ref: '#/components/schemas/VoiceTargetLanguages'
                glossary_id:
                  $ref: '#/components/schemas/GlossaryId'
                formality:
                  $ref: '#/components/schemas/FormalityOption'
                spoken_terms_id:
                  type: string
                  description: '[Planned] A unique ID of a spoken terms list to use for transcription.'
                  example: 'your_spoken_terms_id'
            examples:
              basic:
                summary: Basic configuration
                value:
                  media_content_type: 'audio/ogg; codecs=opus'
                  source_language: 'en'
                  source_language_mode: 'auto'
                  target_languages: ['de', 'fr', 'es']
              with_glossary:
                summary: With glossary and formality
                value:
                  media_content_type: 'audio/pcm; encoding=s16le; rate=16000'
                  source_language: 'en'
                  source_language_mode: 'fixed'
                  target_languages: ['de', 'fr']
                  glossary_id: 'def3a26b-3e84-45b3-84ae-0c0aaf3525f7'
                  formality: 'formal'
      responses:
        200:
          description: Successfully obtained streaming URL and token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceStreamingResponse'
              example:
                streaming_url: 'wss://api.deepl.com/v1/voice/realtime/connect'
                token: 'VGhpcyBpcyBhIGZha2UgdG9rZW4K'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        456:
          $ref: '#/components/responses/QuotaExceeded'
        500:
          $ref: '#/components/responses/InternalServerError'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - auth_header: []
components:
  parameters:
    DocumentID:
      name: document_id
      description: The document ID that was sent to the client when the document was
        uploaded to the API.
      in: path
      required: true
      schema:
        type: string
      example: 04DE5AD98A02647D83285A36021911C6
    GlossaryID:
      name: glossary_id
      description: A unique ID assigned to the glossary.
      in: path
      required: true
      schema:
        type: string
    SourceLanguage:
      name: source_lang
      in: query
      schema:
        $ref: '#/components/schemas/SourceLanguage'
    TargetLanguage:
      name: target_lang
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/TargetLanguage'
  responses:
    BadRequest:
      description: Bad request. Please check error message and your parameters.
    BadRequestGlossaries:
      description: Bad request. Please check error message and your parameters.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                description: Generic description of the error.
                type: string
              detail:
                description: More specific description of the error.
                type: string
          example:
            message: Invalid glossary entries provided
            detail: Key with the index 1 (starting at position 13) duplicates key
              with the index 0 (starting at position 0)
    Unauthorized:
      description: Authorization failed. Please supply a valid `DeepL-Auth-Key` via
        the `Authorization` header.
    Forbidden:
      description: Authorization failed. Please supply a valid `DeepL-Auth-Key` via
        the `Authorization` header.
    ForbiddenGlossaries:
      description: Forbidden. The access to the requested resource is denied, because
        of insufficient access rights.
    NotFound:
      description: The requested resource could not be found.
    NotFound404DocTransDownload:
      description: Trying to download a document using a non-existing document ID
        or the wrong document key will result in a 404 error. As stated above, documents
        can only be downloaded once before they are deleted from the server and their
        document ID is invalidated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentTranslationError'
          examples:
            NotFound:
              summary: Not Found
              value:
                message: Document not found
    PayloadTooLarge:
      description: The request size exceeds the limit.
    URITooLong:
      description: The request URL is too long. You can avoid this error by using
        a POST request instead of a GET request, and sending the parameters in the
        HTTP body.
    UnsupportedMediaTypeGlossaries:
      description: The requested entries format specified in the `Accept` header is
        not supported.
    TooManyRequests:
      description: Too many requests. Please wait and resend your request.
    QuotaExceeded:
      description: Quota exceeded. The character limit has been reached.
    QuotaExceededGlossaries:
      description: Quota exceeded. Too many requests were made to the glossary endpoints recently.
    InternalServerError:
      description: Internal error.
    ServiceUnavailable:
      description: Resource currently unavailable. Try again later.
    ServiceUnavailable503DocTransDownload:
      description: |-
        A 503 result will be returned if the user tries to download a translated document that is currently being processed and is not yet ready for download.
        Please make sure to check that the document status is 'done' before trying to send a download request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentTranslationError'
          examples:
            AlreadyDownloaded:
              summary: Already Downloaded
              value:
                message: Document already downloaded
  securitySchemes:
    auth_header:
      type: apiKey
      description: >
        Authentication with `Authorization` header and 
        `DeepL-Auth-Key` authentication scheme. Example: 
        `DeepL-Auth-Key <api-key>`
      name: Authorization
      in: header
  schemas:
    ApiKeyId:
      description: API key ID. Consists of two valid GUIDs separated by a colon.
      type: string
      example: ca7d5694-96eb-4263-a9a4-7f7e4211529e:20c2abcf-4c3c-4cd6-8ae8-8bd2a7d4da38
    ApiKeyLabel:
      description: API key label. The default value is `DeepL API Key`.
      type: string
      example: "developer key prod"
    ApiKeyUsageCharacters:
      description: |
        Restricts the number of total characters (across text translation, document translation, and text improvement) that can be consumed by an API key in a one-month usage period.

        Setting the limit to `0` means the API key will not be able to consume characters.
        Setting the limit to `null` disables the limit, effectively allowing unlimited usage.
      type: number
      example: 5000
    ApiKey:
      description: The API key.
      type: object
      properties:
        key_id:
          $ref: '#/components/schemas/ApiKeyId'
        label:
          $ref: '#/components/schemas/ApiKeyLabel'
        creation_time:
          description: Timestamp when the key was created (ISO 8601 format)
          type: string
          example: "2025-07-08T08:15:29.362Z"
        deactivated_time:
          description: Timestamp when the key was deactivated (ISO 8601 format). The default value is `null`.
          type: string
          example: "2025-07-09T08:15:29.362Z"
        is_deactivated:
          description: Flag indicating whether the API key is deactivated. The default value is `false`.
          type: boolean
          example: true
        usage_limits:
          description: Usage limits for the API key.
          type: object
          properties:
            characters:
              $ref: '#/components/schemas/ApiKeyUsageCharacters'
    ConfiguredRules:
      description: The enabled rules for the style rule list including what option was selected for each rule.
      type: object
      properties:
        formatting-v1:
          type: object
          properties:
            email-address-format:
              type: string
              description: How email addresses should be formatted.
              enum:
                - "use-username-at-symbol-domain"
                - "use-username-space-at-space-domain"
                - "use-username-space-at-in-parentheses-space-domain"
                - "use-username-space-at-in-square-brackets-space-domain"
                - "use-username-space-at-in-brackets-space-domain"
                - "use-username-space-at-symbol-domain-in-parentheses"
                - "use-username-where-dots-are-replaced-with-english-word-dot-in-brackets-followed-by-at-domain-dot-in-brackets-top-level-domain"
            phone-number-country-code-format:
              description: How to format the country code in phone numbers.
              type: string
              enum:
                - "use-plus-sign-for-country-code"
                - "use-00-for-country-code"
            phone-number-format:
              description: How phone numbers should be formatted when writing phone numbers that use the North American Numbering Plan (NANP).
              type: string
              enum:
                - "use-parentheses-area-code-space-number"
                - "use-area-code-space-number"
                - "use-area-code-slash-number"
                - "use-area-code-number"
                - "use-north-american-numbering-plan-format"
                - "separate-country-code-area-code-local-prefix-and-last-four-digits-with-hyphen"
                - "separate-country-code-area-code-local-prefix-and-last-four-digits-with-spaces"
                - "separate-country-code-area-code-local-prefix-and-last-four-digits-with-dot"
                - "do-not-place-any-spaces-or-special-characters-between-any-of-the-digits-of-the-phone-number"

        grammar-v1:
          type: object
          properties:
            active-passive-voice:
              type: string
              description: If active voice should be preferred over passive voice.
              enum: ["use-active-voice-unless-actor-is-unknown-or-irrelevant"]
            quotations-modification:
              description: If text in quotation marks should be modified according to style guide rules.
              type: string
              enum: 
                - "do-not-modify-text-in-quotation-marks"
                - "modify-text-in-quotation-marks-according-to-style-guide-rules"

        numbers-v1:
          type: object
          properties:
            calendar-era:
              description: Which year notation to use when specified such as BCE and CE or BC and AD.
              type: string
              enum: ["use-bce-and-ce", "use-bc-and-ad"]
            currency-amount-format:
              description: How currency amounts should be formatted.
              type: string
              enum:
                - "use-currency-symbol-followed-by-amount-without-space"
                - "use-currency-symbol-followed-by-space-then-amount"
                - "use-amount-followed-by-space-then-currency-symbol"
                - "use-iso-code-followed-by-space-then-amount"
                - "use-amount-followed-by-space-then-iso-code"
                - "use-amount-followed-by-space-then-currency-name"
            date-format:
              description: How dates should be formatted.
              type: string
              enum:
                - "use-dd-dot-mm-dot-yyyy-with-leading-zeros-for-single-digit-days-and-months"
                - "use-dd-dot-mm-dot-yy-with-leading-zeros-for-single-digit-days-and-months"
                - "use-dd-dot-space-month-yyyy"
                - "use-dd-dot-space-abbreviated-month-yyyy"
                - "use-mm-slash-dd-slas-yyyy-with-leading-zeros-for-single-digit-days-and-months"
                - "use-dd-slash-mm-slash-yyyy-with-leading-zeros-for-single-digit-days-and-months"
                - "use-yyyy-dash-mm-dash-dd-with-leading-zeros-for-single-digit-days-and-months"
                - "use-dd-space-written-out-month-space-yyyy-without-leading-zeros-for-single-digit-days"
                - "use-written-out-month-space-dd-comma-space-yyyy-without-leading-zeros-for-single-digit-days"
                - "use-dd-dot-space-abbreviated-month-yyyy-with-abbreviations-jan-feb-mrz-apr-mai-jun-jul-aug-sep-okt-nov-dez"
                - "use-dd-dot-space-abbreviated-month-yyyy-with-abbreviations-jan-febr-maerz-apr-mai-juni-juli-aug-sept-okt-nov-dez"

            decimal-numbers-less-than-one:
              description: If decimal numbers below one should always start with ‘0,’.
              type: string
              enum: ["always-use-0-before-decimal-separator-for-numbers-less-than-one"]
            decimal-separator:
              description: If a period or comma should be used as the decimal separator.
              type: string
              enum: ["use-dot-as-decimal-separator", "use-comma-as-decimal-separator"]
            dimensions-separator:
              description: How two-dimensional and three-dimensional measurements should be formatted regarding the multiplication sign and spacing.
              type: string
              enum: 
                - "use-multiplication-sign-between-dimensions-with-space-on-either-side"
                - "use-multiplication-sign-between-dimensions-without-space-on-either-side"
                - "use-x-between-dimensions-with-space-on-either-side"
                - "use-x-between-dimensions-without-space-on-either-side"
            equation-formula-reference:
              description: If equations or formulas that are referenced in the text should always use Arabic numerals.
              type: string
              enum: ["always-use-arabic-numerals-to-reference-equations-or-formulas-mentioned-in-text"]
            large-number-format:
              description: If large numbers such as million, billion, trillion, or quadrillion should be written out or abbreviated.
              type: string
              enum: ["use-abbreviations-for-large-numbers", "write-out-large-numbers"]
            large-number-separator:
              type: string
              enum: ["use-comma-to-separate-large-numbers-into-units-of-three", "use-space-to-separate-large-numbers-into-units-of-three"]
            large-sums-of-money-format:
              description: How to format large sums of money such as to abbreviate millions or billions and how to handle spacing.
              type: string
              enum:
                - "use-amount-followed-by-abbreviation-for-millions-or-billions-without-space"
                - "use-amount-followed-by-space-and-abbreviation-for-millions-or-billions"
                - "use-amount-followed-by-space-and-word-for-millions-or-billions"
            mathematical-formula-spacing:
              description: Whether to use spaces between elements in mathematical expressions and equations for increased readability (a + b = c)
              type: string
              enum: ["use-space-between-elements-of-mathematical-formula"]
            percentages-format:
              description: How to format percentages regarding the percent symbol and spacing.
              type: string
              enum: 
                - "use-numerals-followed-by-percent-symbol"
                - "use-numerals-followed-by-space-and-percent-symbol"
                - "use-numerals-followed-by-space-and-write-out-percent"
                - "use-numerals-followed-by-space-and-write-out-per-cent"
            reference-to-symbol:
              description: Whether to, when referring to a symbol, spell out the name followed by the symbol in parentheses.
              type: string
              enum: ["spell-out-symbol-name-followed-by-symbol-in-parentheses"]
            temperature-format:
              description: How to format temperatures regarding the degree symbol and spacing.
              type: string
              enum: 
                - "use-numerals-followed-by-space-then-degree-symbol-and-unit-symbol"
                - "use-numerals-followed-by-space-then-degree-symbol-and-write-out-unit"
                - "use-numerals-followed-by-degree-symbol-and-unit-symbol"
                - "use-numerals-followed-by-space-then-degree-symbol-and-unit-symbol"
                - "use-numerals-followed-by-space-then-write-out-degree-and-unit-name"
            thousand-separator:
              description: How to separate thousands in large numbers.
              type: string
              enum: ["use-dot-as-thousand-separator", "use-space-as-thousand-separator", "do-not-use-thousand-separator", "use-straight-single-quote-as-thousand-separator"]
            time-format:
              description: When writing times of the day, how they should be formatted.
              type: string
              enum: 
                - "always-use-hh-colon-mm-german-word-uhr"
                - "always-use-hh-dot-mm-german-word-uhr"
                - "use-hh-colon-mm-german-word-uhr-no-leading-zeros"
                - "use-hh-dot-mm-german-word-uhr-no-leading-zeros-use-single-digit-for-full-hour"
                - "use-hh-dot-mm-german-word-uhr-no-leading-zeros"
                - "always-use-12-hour-clock-and-upper-case-am-slash-pm"
                - "always-use-12-hour-clock-and-upper-case-a-dot-m-slash-p-dot-m-dot"
                - "always-use-12-hour-clock-and-lower-case-am-slash-pm"
                - "always-use-12-hour-clock-and-lower-case-a-dot-m-slash-p-dot-m-dot"
                - "always-use-12-hour-clock-and-upper-case-am-slash-pm-except-use-noon-and-midnight-instead-of-12-am-and-12-pm"
                - "always-use-12-hour-clock-and-upper-case-a-dot-m-slash-p-dot-m-dot-except-use-noon-and-midnight-instead-of-12-am-and-12-pm"
                - "always-use-12-hour-clock-and-lower-case-am-slash-pm-except-use-noon-and-midnight-instead-of-12-am-and-12-pm"
                - "always-use-12-hour-clock-and-lower-case-a-dot-m-slash-p-dot-m-dot-except-use-noon-and-midnight-instead-of-12-am-and-12-pm"
                - "always-use-24-hour-clock"
            units-of-measure-spacing:
              description: Whether to use spaces between numbers and units of measure.
              type: string
              enum: 
                - "use-space-between-numbers-and-units-of-measure"
                - "do-not-use-space-between-numbers-and-units-of-measure"
            writing-out-units:
              description: Whether to always write out units of measure or abbreviate them.
              type: string
              enum: 
                - "always-write-out-units-of-measure"
                - "abbreviate-units-of-measure-when-used-with-numbers-write-them-out-when-used-without-numbers"
                - "always-abbreviate-units-of-measure"

        punctuation-v1:
          type: object
          properties:
            abbreviations-parenthetical-commas:
              description: Whether to have a comma after i.e. and e.g. in text
              type: string
              enum:
                - "use-comma-after-i-e-and-e-g"
                - "use-comma-before-i-e-and-e-g"
            academic-degrees:
              description: Whether to use periods in academic degrees.
              type: string
              enum:
                - "use-periods-in-academic-degrees"
                - "do-not-use-periods-in-academic-degrees"
            ampersand-abbreviation-spacing:
              description: Whether to use spaces before and after the ampersand symbol when it is part of an abbreviation.
              type: string
              enum: 
                - "do-not-use-spaces-before-and-after-ampersand-as-part-of-abbreviation"
                - "use-spaces-before-and-after-ampersand-as-part-of-abbreviation"
            ampersand-usage:
              description: Whether to use the German word 'and' or the English word 'and' to replace the ampersand symbol, except in company names, common abbreviations, titles, software code, and mathematical equations
              type: string
              enum: 
                - "use-german-word-und-except-for-company-names-common-abbreviations-titles-software-codes-and-mathematical-equations"
                - "use-english-word-and-except-for-company-names-common-abbreviations-titles-software-codes-and-mathematical-equations"
            apostrophe:
              description: Whether to use curly apostrophes.
              type: string
              enum: ["use-curly-apostrophe"]
            exclamation-mark:
              description: Whether to use exclamation marks.
              type: string
              enum: ["do-not-use-exclamation-marks"]
            introductory-phrase:
              description: Whether to use a comma after a short introductory phrase.
              type: string
              enum:
                - "use-comma-after-short-introductory-phrase"
                - "do-not-use-comma-after-short-introductory-phrase"
            plus-sign-usage:
              description: Whether to use the plus sign to symbolize 'and' unless it is part of a proper noun.
              type: string
              enum: ["do-not-use-plus-sign-to-symbolize-and-unless-it-is-in-a-proper-noun-that-is-spelled-that-way"]
            quotation-mark-and-apostrophe:
              description: Whether to use straight or curly quotation marks and apostrophes.
              type: string
              enum:
                - "use-straight-quotation-marks-and-apostrophes"
                - "use-curly-quotation-marks-and-apostrophes"
            quotation-style:
              description: What quotation marks should be used for main quotations and nested quotations.
              type: string
              enum: 
                - "use-german-quotation-marks-for-main-quotations-and-simple-german-quotation-marks-for-internal-quotations"
                - "use-chevrons-for-main-quotations-and-simple-chevrons-for-internal-quotations"
                - "use-guillemets-for-main-quotations-and-simple-guillemet-for-internal-quotations"
                - "use-double-quotation-marks-for-main-quotations-and-single-quotation-marks-for-internal-quotations"
                - "use-single-quotation-marks-for-main-quotations-and-double-quotation-marks-for-internal-quotations"
            range-indicator:
              description: How to indicate a range of numbers or dates.
              type: string
              enum: 
                - "use-dash-without-space-on-either-side"
                - "use-german-word-bis"
                - "use-en-dash-without-space-on-either-side"
                - "use-hyphen-without-space-on-either-side"
                - "use-hyphen-with-space-on-either-side"
                - "use-english-word-to"
            salutation:
              description: What punctuation to use after a salutation.
              type: string
              enum: 
                - "use-comma-after-salutation"
                - "use-exclamation-mark-after-salutation"
                - "do-not-use-comma-after-salutation-capitalise-first-word"
                - "use-colon-after-salutation"
            sentence-break-indicator:
              description: How to indicate a break in a sentence or to indicate asides
              type: string
              enum: 
                - "use-dash-with-space-on-either-side"
                - "use-em-dash-with-space-on-either-side"
                - "use-em-dash-without-space-on-either-side"
                - "use-en-dash-with-space-on-either-side"
            serial-comma:
              description: Whether to use a serial comma. (e.g. 'Apples, oranges, and bananas' vs 'Apples, oranges and bananas.')
              type: string
              enum: ["use-serial-comma", "do-not-use-serial-comma"]
            slash:
              description: Whether to use spaces before and after slashes.
              type: string
              enum: 
                - "do-not-use-spaces-before-and-after-slashes"
                - "use-spaces-before-and-after-slashes"
                - "use-spaces-before-and-after-slashes-if-there-are-several-words"
            slash-usage:
              description: Whether to use the slash symbol to symbolize 'or'.
              type: string
              enum: ["do-not-use-slash-symbol-to-symbolize-or"]
            suspension-points:
              description: How to denote an ellipsis (e.g. '...' vs '…')
              type: string
              enum: 
                - "use-three-periods-without-spaces-as-suspension-points"
                - "use-ellipsis-sign-as-suspension-points"
            upper-case-initialisms-and-acronyms:
              description: Whether to use periods in uppercase abbreviations.
              type: string
              enum: ["do-not-use-periods-in-upper-case-initialisms-and-acronyms"]

        spelling-v1:
          type: object
          properties:
            all-caps:
              description: If all-caps should be avoided unless it is an acronym, initialism or a proper noun.
              type: string
              enum: ["do-not-use-all-caps-except-for-acronyms-abbreviations-or-proper-nouns"]
            contractions:
              description: Whether to use contractions.
              type: string
              enum:
                - "do-not-use-contractions"
                - "use-contractions"
                - "use-contractions-but-avoid-negative-contractions"
            eszett:
              description: If 'ß' should be replaced with 'ss'.
              type: string
              enum: ["use-ss"]
            latin-abbreviations:
              description: Whether to use Latin abbreviations, such as i.e., ibid., or etc.
              type: string
              enum: ["do-not-use-latin-abbreviations-use-spelled-out-counterparts-instead"]
            umlauts:
              description: If ‘ä’ should be replaced with 'ae', ‘ö’ with 'oe' and ‘ü’ with 'ue'.
              type: string
              enum: ["use-ae-oe-ue"]

        style-and-tone-v1:
          type: object
          properties:
            abbreviations:
              description: If keyboard shortcuts, abbreviations, symbols or acronyms that can easily be spelled out should be avoided.
              type: string
              enum: ["avoid-using-abbreviations-that-can-be-written-out-easily", "use-abbreviations-symbols-and-acronyms"]
            binary-representation-of-gender:
              description: Whether to avoid binary representations of gender when you can reword using gender-neutral language. Avoid examples like 'Hiring men and women of diverse backgrounds fosters a culture of innovation.' and instead prefer examples like, 'Hiring people of diverse backgrounds fosters a culture of innovation.'
              type: string
              enum: ["avoid-binary-representation-of-gender-when-gender-neutral-language-can-be-used"]
            complex-sentences:
              description: Whether to avoid unnecessarily complex sentences.
              type: string
              enum: ["avoid-unnecessarily-complex-sentences"]
            directional-text:
              description: Whether to use directional language, or words that depend on visual cues, such as “here” or “below.”
              type: string
              enum: ["do-not-use-directional-text"]
            gender-neural-language-readability:
[...]
